<div className="wb-item-wrap">
    <div className="wb-item">
        <div className="card m-panel card9 f-weibo">
            <div className="card-wrap">
                <header className="weibo-top m-box">
                    <div className="m-avatar-box m-box-center"><a href="/profile/1700648435" className="m-img-box">
                        <img src="https://tva2.sinaimg.cn/crop.0.0.1000.1000.180/655dd5f3jw8ev7qcyp08ij20rs0rs77h.jpg" />
                            <i className="m-icon m-icon-bluev"></i></a></div>
                    <div className="m-box-dir m-box-col m-box-center">
                        <div className="m-text-box"><a href="/profile/1700648435" className="">
                                <h3 className="m-text-cut">成都商报
                                    <i className="m-icon m-icon-vipl6"></i></h3>
                            </a>
                            <h4 className="m-text-cut"><span className="time">昨天 16:50</span> <span className="from">
                                    来自 微博网页版</span>
                                <span className="time">已编辑</span></h4>
                        </div>
                    </div>
                    <div callback="follow()" className="m-add-box m-followBtn"><span className="m-add-box"><i className="m-font m-font-plus"></i>
                            <h4>关注</h4>
                        </span></div>
                </header>
            </div>
            <article className="weibo-main">
                <div className="card-wrap">
                    <div className="weibo-og">
                        <div className="weibo-text">【关注！<a href="https://m.weibo.cn/search?containerid=231522type%3D1%26q%3D%23%E9%87%8D%E5%BA%86%E5%85%AC%E4%BA%A4%E8%BD%A6%E5%9D%A0%E6%B1%9F%E4%BA%8B%E6%95%85%23%26t%3D10&amp;extparam=%23%E9%87%8D%E5%BA%86%E5%85%AC%E4%BA%A4%E8%BD%A6%E5%9D%A0%E6%B1%9F%E4%BA%8B%E6%95%85%23&amp;luicode=10000011&amp;lfid=102803"
                                data-hide=""><span className="surl-text">#重庆公交车坠江事故#</span></a>
                            直击救援现场！】10月28日10时许，重庆万州一公交车在万州长江二桥桥面与小轿车发生碰撞后，坠入江中。目前，相关部门已经确定车辆沉入江底，正在组织打捞救援。截至15时，已打捞出2名人员遗体。<a
                                href="/n/成都商报">@成都商报</a> 直播带你直击救援现场。↓↓↓<a href="https://m.weibo.cn/search?containerid=231522type%3D1%26q%3D%23%E9%87%8D%E5%BA%86%E5%A4%A7%E5%B7%B4%E8%BD%A6%E5%9D%A0%E6%B1%9F%23%26t%3D10&amp;extparam=%23%E9%87%8D%E5%BA%86%E5%A4%A7%E5%B7%B4%E8%BD%A6%E5%9D%A0%E6%B1%9F%23&amp;luicode=10000011&amp;lfid=102803"
                                data-hide=""><span className="surl-text">#重庆大巴车坠江#</span></a> ...<a href="/status/4300139516344613">全文</a></div>
                        <div data-v-4ecfaa36="">
                            <div data-v-4ecfaa36="" className="weibo-media f-media">
                                <div data-v-4ecfaa36="" className="weibo-media-wraps">
                                    <div data-v-20ce663c="" className="card-video type-video">
                                        <div data-v-20ce663c="" className="mwb-video mwbv-play mwbv-info">
                                            <div data-v-20ce663c="" className="m-img-box">
                                            <img data-v-20ce663c="" src="https://wx2.sinaimg.cn/large/655dd5f3gy1fwo166k9aij210v0i1765.jpg" /></div>
                                            <button data-v-20ce663c="" className="mwbv-play-button"><span
                                                    data-v-20ce663c="" className="mwbv-icon"></span></button>
                                            <div data-v-20ce663c="" className="mwbv-info-bar">
                                                <div data-v-20ce663c="" className="m-box">
                                                    <div data-v-20ce663c="" className="m-box-col"></div>
                                                    <div data-v-20ce663c="" className="time"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <footer className="f-footer-ctrl">
                <div className="m-diy-btn m-box-center-a"><i className="lite-iconf lite-iconf-report"></i>
                    <h4>2804</h4>
                </div>
                <div className="m-diy-btn m-box-center-a"><i className="lite-iconf lite-iconf-comments"></i>
                    <h4>3.9万</h4>
                </div>
                <div className="m-diy-btn m-box-center-a"><i className="lite-iconf lite-iconf-like"></i>
                    <h4>32.6万</h4>
                </div>
                <aside><i className="m-font m-font-dot-more"></i></aside>
            </footer>
        </div>
    </div>
</div>