<div className="lite-topbar lite-page-top">
    <div className="nav-left"><i className="m-font m-font-arrow-left"></i></div>
    <div className="nav-main">
        <h4>微博正文</h4>
    </div>
    <div className="nav-right"><i className="m-font m-font-dot-more"></i></div>
</div>

<div className="main" style="margin-top: 2.75rem;">
    <div className="card m-panel card9 f-weibo">
        <div className="card-wrap">

            <header className="weibo-top m-box">
                <div className="m-avatar-box m-box-center"><a href="/profile/1216431741" className="m-img-box">
                    <img src="https://tva4.sinaimg.cn/crop.0.0.1022.1022.180/4881467dgw1egwcm2nl85j20sg0sgdhe.jpg" />
                        <i className="m-icon m-icon-bluev"></i></a></div>
                <div className="m-box-dir m-box-col m-box-center">
                    <div className="m-text-box"><a href="/profile/1216431741" className="">
                            <h3 className="m-text-cut">南都娱乐周刊
                                <i className="m-icon m-icon-vipl6"></i></h3>
                        </a>
                        <h4 className="m-text-cut"><span className="time">昨天 09:56</span>


                        </h4>
                    </div>
                </div>
                <div callback="follow()" className="m-add-box m-followBtn"><span className="m-add-box"><i className="m-font m-font-plus"></i>
                        <h4>关注</h4>
                    </span></div>
            </header>
        </div>
        <article className="weibo-main">
            <div className="card-wrap">
                <div className="weibo-og">
                    <div className="weibo-text">哈文转述李咏遗言：没有遗憾只有不舍<span className="url-icon">
                        <img alt="[蜡烛]" src="//h5.sinaimg.cn/m/emoticon/icon/others/o_lazhu-3725445c33.png"
                                style="width:1em; height:1em;" /></span>昨天上午，哈文公开李咏去世的消息。之后央视主持人杨柳在追忆故人时提到当天曾第一时间联系到了哈文。哈文提及李咏是在去年五月体检时发现的病情，并转述李咏遗言：“没有遗憾，只有不舍”。
                    </div>
                    <div>
                        <div className="weibo-media-wraps weibo-media f-media media-b">
                            <ul className="m-auto-list">
                                <li className="m-auto-box3">
                                    <div className="m-img-box m-imghold-4-3">
                                        <img src="https://wx1.sinaimg.cn/orj360/4881467dgy1fwq0it4nkmj20rs0ku78u.jpg"
                                            className="f-bg-img" />

                                    </div>
                                </li>
                                <li className="m-auto-box3">
                                    <div className="m-img-box m-imghold-4-3">
                                        <img src="https://wx4.sinaimg.cn/orj360/4881467dgy1fwq0ist6c0j21400qoqcb.jpg"
                                            className="f-bg-img" />

                                    </div>
                                </li>
                                <li className="m-auto-box3">
                                    <div className="m-img-box m-imghold-4-3">
                                        <img src="https://wx3.sinaimg.cn/orj360/4881467dgy1fwq0itg1m9j20c50h10tu.jpg"
                                            className="f-bg-img" />

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>